*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;

}
/* NAVBAR*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar .nav-links li{
    margin: 0 30px;
}

.navbar .ctn{
    padding: 8px 15px;
    background: rgb(244, 240, 17);
    border-radius: 30px;
    color: rgb(0, 0, 0);
}

.navbar .menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.navbar a{
    text-decoration: none;
    color: aliceblue;
}

.navbar ul{
    list-style: none;
}
.navbar .active {
    color: rgb(228, 234, 62);
    text-decoration: underline;
    font-weight: bold;
}