*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    min-height: 100vh;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
    margin-top: 1rem;
}

.text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #cbb186;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.text p{
    color:#c0c4d6 ;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

@media screen and (max-width: 500px){
    .text h1{
        font-size: 50px;
    }
    .text p{
        font-size: 16px;
    }
}